*
{
  box-sizing: border-box;
}
body
{
  overflow-x: hidden;
  overflow-y: auto;
  color: #2f2f2f;
  font: 13px/1.7 "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
.boxed
{
  background-image: url("../image/backimg.png");
  display: block;
  background-color: #676767;
  position: relative;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 20px 4px;
}
.boxed footer
{
  margin: 0 0 16px 0;
}
div
{
  display: block;
}
.nopadding
{
    padding: 0;
    margin: 0;
}
.padding-50
{
  padding: 35px 50px 40px 50px;
}
header
{
  width: 100%;
   height: 360px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"]
{
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px)
{
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
.wrapper
{
    width: 1260px;
}
.photo
{
  min-height: 360px;
  background-image: url("../image/movist.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.name-title
{
  color: #fff;
  min-height: 120px;
  background-color: #333;

}
.position-title
{
  color: #fff;
  min-height: 120px;
  background-color: #2f2f2f;

}
.menuitem
{
  text-decoration: none;
  min-height: 120px;
  float: left;
  list-style: none;
  text-align: center;
  color: #efefef;

}
.info
{
  padding: 0px;
  min-height: 360px;
}
.m1
{
  background-color: #1abc9c;
}
.m2
{
  background-color: #3498db;
}
.m3
{
  background-color: #9b59b6;
}
.m4
{
  background-color: #e67e22;
}
.m5
{
  background-color: #e74c3c;
}
.m6
{
  background-color: #d9a81d;
}
a
{
  text-decoration: none;
  color: #000;
}
ul li
{
  list-style-type: none;
}
.divide
{
  height: 40px;
}
.upper
{
  height: 532px;
  padding: 0px;
}

.lower
{
  height: 532px;
  padding: 0px;

}
.name-right
{
  height: 120px;
  background-color: #2f2f2f;
}
.position-right
{
  height: 120px;
  background-color: #333;
}

.upper_left
{
  height: 532px;
  background-color: #bfbfbf;
  float: left;
}

.about
{
  float: left;

}
.about1, .about2, .about3
{
  float: left;
}

.upper_right
{
  height: 532px;
  background-color: #efefef;
  float: left;

}
.infobox
{
  height: 35px;
  float: left;

}

.one
{
 float: left;
}
.two
{
  float: left;
}

.lower_left
{
  height: 532px;
  background-color: #9b59b6;
  float: left;
}
.lower_right
{
  height: 532px;
  background-color: #3498db;
  float: left;
}
footer
{
  height: 192px;
  background-color: #474747;
  float: left;
  padding-bottom: 18px;
  padding-top: 21px;
}
