.navbar
{
  background-color: #fff;
  border-style: none;
  margin: 0px !important;
}
.jumbotron
{
  margin: 0px auto;
  background-color: #fff;
}
.logo
{
  width:272px;
  height:92px;
}
.logo_sub
{
  color: #4285f4;
  font-size: 16px;
  position: relative;
  top: -20px;
  left: 129px;
  white-space: nowrap;
}

.logo_box
{
  padding-top: 112px;
}
.form-horizonal

{
  margin: 0px auto;
  max-width: 672px;
  position: relative;
}

.form-control
{
  height: 39px;
  box-shadow: none;
  background-color: #fff;
  border: 1px solid rgb(185,185,185);
  border-radius: 1px;
  border-top-color: rgb(160,160,160);
  cursor: text;
  display: inline-block;
  font: 18px arial,sans-serif;
  height: 36px;
  line-height: 36px;
  max-width: 672px;

}
input
{
  color: #bbb;

}
.mic
{
  cursor: pointer;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 5px;
  right: 5px;
}
li, a
{
  float: left;
}
.thumbnail
{
  width: 154px;
  height: 128px;
}
.dropimg
{
  width: 320px;
  height: 456px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  border: 1px solid #ccc;
}
.container8
{
  margin-top: 50px;
}

.visited
{
  height: 128px;
}

.row1
{
  margin: 0px auto;
  max-width: 688px;
}
